<div class='page-container'>
	<div class='page-header'>
		<b>Fandoms</b>
		<span class='create-fandom-button-container'>
			<button class='create-fandom-button' (click)="toNewFandom()">Create Fandom</button>
		</span>
	</div>
	<div class='page-content-container'>
		<div class='fandom-cards-section-container'>
			<a class='view overlay fandom-card' *ngFor="let item of fandomNames; let i=index" (click)='toFandomPg(item)' id="{{item}}">
				<img class='fandom-card-image' src='{{fandomImages[i]}}'>
				<a class="mask flex-center rgba-orange-strong fandom-card-overlay">
					<p class="white-text description"><b>{{fandomDesc[i]}}</b>
						<br><br><b><i class='fa fa-user'></i> {{fandomSubcounts[i]}}</b>
					</p>
				</a>
				<div class='fandom-card-name'>{{item}}</div>
			</a>
		</div>

		<div class='create-fandom-section-container'>
			<div class='create-fandom-content-container'>
				<div class='header'><b>Can't find any fandom you like. Then, create it !!</b></div>
				<div><input class='title' id='title' #title placeholder='Enter Fandom name'></div>
				<div><textarea class='description' id='description' #desc placeholder='Enter Fandom description'></textarea></div>
				<!-- no need for admin as admin is the loggedin user -->

				<button class='submit-button' id='submit' (click)='createFandom(title.value,desc.value)'>Submit</button>
			</div>
		</div>
	</div>
</div>
