<div class="page-container">
	<div class="page-content-container">
		<form [formGroup]='form'>
			<div class='header'>Sign in</div>

			<input class="form-control username" placeholder="Username" formControlName='username' #username>

			<input class="form-control password" type="password" placeholder="Password" formControlName='password' #password>

			<div class='err-message'>{{message}}</div>

			<!-- <div>
				<span>Remember me <mdb-checkbox [default]="true"></mdb-checkbox></span>
				Forgot password? <a routerLink='#' routerLinkActive='active'>Click here</a>
			</div> -->

			<button class='sign-in-button' mdbBtn color="info" block="true" type="submit" [disabled]="!form.valid" (click)="getUser(username.value, password.value)">
				Sign in
			</button>

			<hr>
			<p>Not a member? <a routerLink='/register' routerLinkActive='active'>Register</a></p>
		</form>
	</div>
</div>
