<nav class="navbar">
  <div class="navbar-content">
    <div class="navbar-brand">
      <a [routerLink]="['/']">
        FanLinc
      </a>
    </div>

    <div class="navbar-menu">
      <div class="search-bar">
        <input type="text" placeholder="Search...">
        <button type="button" class="btn">
          Search
        </button>
      </div>
    </div>

	 <div class="navbar-end">
        <!-- <ng-container *ngIf="!user">
          <a [routerLink]="['/login']" class="nav-link">Login</a>
          <a [routerLink]="['/register']" class="nav-link">Register</a>
        </ng-container> -->

        <!-- <ng-container *ngIf="user">
          <a [routerLink]="['/profile']"
            [queryParams]="{user: user}"
          class="nav-link">Profile</a>
          <button (click)="logout()" class="nav-link">Logout</button>
        </ng-container> -->

        <button class="btn-2" (click)="toNewPost()">Create Post</button>
        <button class="btn-2" (click)="toNewFandom()">Create Fandom</button>

        <div class="notif-dropdown-container" *ngIf='isShow' display="dynamic" ngbDropdown>
          <button class="notif-dropdown-button far fa-bell" ngbDropdownToggle>
            <span class='num-pendings-info'> {{numPendings}}</span>
          </button>
          <div class="notif-dropdown-items-container" ngbDropdownMenu>
            <p class='notif-dropdown-item' *ngFor="let friendUsername of pendingNames;">
              <span>Friend Request from </span>
              <a class='friend-username' (click)='toUserProfile(friendUsername)'>{{friendUsername}} </a>
              <button class='accept-button' (click)='addFriend(friendUsername)'>Accept</button>
            </p>
          </div>
        </div>

        <!-- user icon section that toggles a dropdown menu on click -->
        <div *ngIf="user" class="user-section" display="dynamic" ngbDropdown>
          <div class="user-icon" ngbDropdownToggle>
            <img [src]="userImg" alt="User Icon" class="user-img">
          </div>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a [routerLink]="['/profile']" [queryParams]="{ user }" class="nav-link">Profile</a>
            <a (click)="logout()" class="nav-link">Logout</a>
          </div>
        </div>

        <div *ngIf="!user">
          <a [routerLink]="['/login']" class="nav-link login-btn">Login</a>
        </div>
   </div>
  </div>
</nav>