@import 'src/styles.scss';

.page-container {
	// background: $page-background-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	padding: $main-padding;
	padding-top: 20px;

	@media screen and (max-width: 768px) {
		padding: 2.5% 3%;
	}

	.page-content-container {
		width: 75%;
		// height: 100vh;

		@media screen and (max-width: 768px) {
			width: 100%;
		}

		// .post-box {
		// 	width: 97%;
		// 	background: white;
		// 	padding: 15px 0px 15px 15px;
		// 	margin: 0 0 18px 0;
		// 	box-shadow: $box-shadow;
		// 	border-radius: 3px;

		// 	@media screen and (max-width: 768px) {
		// 		width: 100%;
		// 		margin: 0 0 14px 0;
		// 	}

		// 	&-left-column {
		// 		width: 8%;
		// 		text-align: center;

		// 		.user-img {
		// 			width: 50px;
		// 			height: 50px;
		// 			border-radius: 50%;

		// 			@media screen and (max-width: 425px) {
		// 				width: 38px;
		// 				height: 38px;
		// 			}

		// 			&:hover {
		// 				border: 1px solid $third-color;
		// 			}
		// 		}

		// 		&-separator {
		// 			width: 50px;
		// 			margin: 10px auto 5px auto;

		// 			@media screen and (max-width: 425px) {
		// 				width: 38px;
		// 				margin-bottom: 3px;
		// 			}
		// 		}
		// 	}

		// 	&-main-column {
		// 		width: 80%;
		// 		margin-left: 20px;
		// 		padding: 0 10px 0 10px;

		// 		@media screen and (max-width: 425px) {
		// 			width: 77%;
		// 		}

		// 		&-header {
		// 			margin: -10px 0 5px 0;
		// 			color: #a6acaf;
		// 			text-align: left;

		// 			&-fandom-link {
		// 				margin:0 20px 0 0;

		// 				&:hover {
		// 					color: #f8c471;
		// 				}
		// 			}

		// 			&-right-section {
		// 				float: right;
		// 				text-align: left;

		// 				.delete-post-button:hover {
		// 					color: $third-color;
		// 				}
		// 			}
		// 		}

		// 		.num-comments-button {
		// 			margin-top: 5px;
		// 			border-radius: 2px;
		// 			border: none;
		// 			background: $page-background-color;

		// 			&:hover {
		// 				color: $third-color;
		// 			}
		// 		}

		// 		&-content-img {
		// 			max-width: 150px;
		// 			max-height: 300px;
		// 		}
		// 	}

		// 	.reply-button {
		// 		margin: 5px 0 0 8px;
		// 		border-radius: 2px;
		// 		border: none;
		// 		color: white;
		// 		background: $third-color;

		// 		&:hover {
		// 			color: grey;
		// 		}
		// 	}

		// 	.reply-section-container {
		// 		margin-top: 25px;

		// 		.reply-box {
		// 			padding: 0 0 0 5px;
		// 			width: 300px;
		// 			min-height: 60px;
		// 			border-radius: 2px;

		// 			@media screen and (max-width: 425px) {
		// 				width: 180px;
		// 			}
		// 		}

		// 		.send-button-container {
		// 			width: 300px;
		// 			text-align: right;

		// 			@media screen and (max-width: 425px) {
		// 				width: 180px;
		// 			}

		// 			.send-button {
		// 				@extend %ext-common-button;
		// 				background: $third-color;
		// 				border-color: $third-color;
		// 				padding: 1px 8px;

		// 				&:hover{
		// 					color: grey;
		// 				}
		// 			}
		// 		}
		// 	}

		// 	&-separator {
		// 		margin: -5px 0;
		// 		width: .93px;
		// 		background: $page-background-color;
		// 	}

		// 	&-right-column {
		// 		margin: auto;

		// 		.arrow-up {
		// 			width: 0;
		// 			height: 0;
		// 			border-left: 10px solid transparent;
		// 			border-right: 10px solid transparent;
		// 			border-bottom: 10px solid #d7dbdd;

		// 			&:hover {
		// 				border-bottom: 10px solid #909497;
		// 			}
		// 		}

		// 		.arrow-down {
		// 			width: 0;
		// 			height: 0;
		// 			border-left: 10px solid transparent;
		// 			border-right: 10px solid transparent;
		// 			border-top: 10px solid #d7dbdd;
		// 			margin-top: -65%;

		// 			&:hover {
		// 				border-top: 10px solid #909497;
		// 			}
		// 		}
		// 	}
		// }

		.comments-box {
			margin-left: 20%;
			// width: 77%;
			padding: 10px;
			padding-left: 0;
			padding-top: 5px;
			// max-height: 380px;
			// overflow: auto;
			background: white;
			box-shadow: $common-box-shadow-2;
			border-radius: 8px;

			@media screen and (max-width: 768px) {
				margin-left: 0;
				width: 100%;
			}

			.empty-state-message {
				text-align: center;
				padding: 10px 20px 20px 20px;
				color: #aaaaaa;
			}

			.comments-list-container {
				max-height: 380px;
				overflow: auto;

				> .comments-list-item-container {
					&:not(:last-of-type) {
						border-bottom: 1px solid $page-background-color;
					}
				}

				.comments-list-item-container {
					text-align: left;
					padding: 12px 5px;
					margin-left: 20px;
					// display: flex;

					.comments-list-content-author-container {
						display: flex;
						// align-items: center;

						.comments-list-item-author {
							// text-align: right;
							display: flex;
							// justify-content: flex-end;
							// width: 20%;
							// max-width: 50%;
							color: grey;
							font-size: 13px;
							margin-right: 15px;
							padding-top: 5px;

							.comment-author-image {
								width: 32px;
								border-radius: 50%;
							}
						}

						.comments-list-item-content {
							// width: 80%;
							// min-width: 70%;
							overflow-wrap: break-word;
							padding-right: 20px;

							.comment-author-content-top-container {
								margin-bottom: 3px;

								.comment-author-username {
									margin-right: 4px;
									font-weight: 500;

									&:hover {
										cursor: pointer;
										color: #5dade2;
									}
								}
							}

							.reply-inline-container {
								margin-top: 5px;
								display: flex;
								align-items: flex-start;

								.reply-inline-box {
									width: 160px;
									min-height: 40px;
									margin-right: 10px;
								}

								.reply-send-button {
									padding: 2px 10px;
								}
							}
						}
					}
				}
			}

			.new-comment-container {
				display: flex;
				justify-content: space-between;
				padding-left: 10px;
				padding-top: 8px;

				.new-comment-box {
					width: 90%;
				}

				.new-comment-send-button-container {
					.new-comment-send-button {
						padding: 5px 10px;
					}
				}
			}
		}
	}
}
