<div class='page-container'>
	<div class='page-content-container'>
		<div class='post-section-headers'>
			<div class='header-container'>Posts</div>
			<div class="sort-dropdown-container">
				<div ngbDropdown class="d-inline-block">
					<button class="btn btn-outline-primary" id="sortDropdown" ngbDropdownToggle>
						{{selectedSortOption}} <i class="fas fa-chevron-down"></i>
					</button>
					<div ngbDropdownMenu aria-labelledby="sortDropdown">
						<button ngbDropdownItem (click)="onSortChange('Most Popular')">Most Popular</button>
						<button ngbDropdownItem (click)="onSortChange('Most Recent')">Most Recent</button>
					</div>
				</div>
			</div>
		</div>
		<div class='post-section-container'>
			<div class='column post-section-content-container'>
				<app-post-box author="user1" timestamp="1759720889" title="TEST123"
					content="TEST123" likes="5" fandom="fandom1"
					[comments]="['comment1', 'comment2']"
					fandomImage="https://t4.ftcdn.net/jpg/02/38/20/31/360_F_238203139_aHnKVip8dNgBgAeHk6UArg5zLPxH0gJQ.jpg">
				</app-post-box>
			</div>
		</div>
	</div>
</div>
