<div class='page-container'>
	<div class='page-content-container'>
		<div class='post-section-headers'>
			<div class='header-container'>Posts</div>
			<div class="sort-dropdown-container">
				<div ngbDropdown class="d-inline-block">
					<button class="btn btn-outline-primary" id="sortDropdown" ngbDropdownToggle>
						{{selectedSortOption}} <i class="fas fa-chevron-down"></i>
					</button>
					<div ngbDropdownMenu aria-labelledby="sortDropdown">
						<button ngbDropdownItem (click)="onSortChange('Most Popular')">Most Popular</button>
						<button ngbDropdownItem (click)="onSortChange('Most Recent')">Most Recent</button>
					</div>
				</div>
			</div>
		</div>
		<div class='post-section-container'>
			<div class='column post-section-content-container'>
				@for (post of posts; track post) {
					<app-post-box
						author="{{post.author}}"
						timestamp="{{post.timestamp}}"
						title="{{post.title}}"
						content="{{post.content}}"
						likes="{{post.numVotes}}"
						postId="{{post._id}}"
						[votes]="post.votes"
						fandom="{{post.fandom}}"
						[comments]="post.comments"
						numOfComments="{{post.totalComments || (post.comments || []).length}}"
						fandomImage="{{getFandomImage(post.fandom)}}">
					</app-post-box>
				}
			</div>
		</div>
	</div>
</div>
