@import 'src/styles.scss';

.page-container {
	$border-color: #e5e7e9;
	font-size: $base-font-size;
	font-family: $base-font-family;
	padding: 5px 20% 0;

	@media screen and (max-width: 768px) {
		padding: 30px 5% 0;
		font-size: $base-font-size - 1px;
	}

	@media screen and (max-width: 425px) {
		padding: 30px 3% 0;
		font-size: $base-font-size - 1px;
	}

	.edit-row {
		margin-bottom: 12px;
		text-align: right;

		.btn, .btn-2 {
			font-size: 13px;
			padding: 5px 10px;
			line-height: 24px;
		}

		.change-password-btn {
			// background-color: #a1a1a1;
			margin-right: 15px;
		}

		.save-changes-btn {
			margin-right: 15px;
		}
	}

	.top-section {
		// @extend %common-paper;
		padding: 20px;
		display: flex;
		margin-bottom: 20px;

		.left {
			margin-right: 40px;
			padding: 10px 10px 10px 20px;

			.profile-image-container {
				position: relative;
				display: inline-block;

				img {
					height: 130px;
					width: 130px;
					border-radius: 50%;
					display: block;
				}

				.image-overlay {
					position: absolute;
					top: 0;
					left: 0;
					width: 130px;
					height: 130px;
					border-radius: 50%;
					background-color: rgba(0, 0, 0, 0.6);
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					opacity: 0;
					transition: opacity 0.3s ease;
					cursor: pointer;
					color: white;

					&:hover {
						opacity: 1;
					}

					.pencil-icon {
						font-size: 24px;
						margin-bottom: 5px;
					}

					.overlay-text {
						font-size: 12px;
						font-weight: 500;
						text-align: center;
					}
				}
			}
		}

		.right {
			width: 100%;
			padding: 10px;

			.username {
				font-size: 30px;
				font-weight: bold;
			}

			.bio-box {
				border: none;
			}

			.bio-box-empty {
				border: none;
				resize: none;
				font-style: italic;
			}

			.bio-box, .bio-box-empty {
				padding-left: 0;
				padding-right: 0;
			}

			.bio-box, .bio-box-empty, .bio-box-edit {
				width: 100%;
				margin-top: 20px;
			}

			.email-edit, .bio-box-edit {
				padding-left: 5px;
				padding-right: 5px;
			}

			.bio-box-edit {
				min-height: 50px;
			}
		}
	}

	.main-section {
		display: flex;
		align-items: flex-start;

		&-left {
			// @extend %common-paper;
			width: 35%;
			margin-right: 2%;

			.interests-container {
				padding: 10px 20px 15px;

				.interest-header {
					font-size: 20px;
					font-weight: bold;
					margin-bottom: 10px;
				}

				.interest-button {
					@extend %ext-common-button;
					background-color: $secondary-color;
					border-color: $secondary-color;
					border-width: .5px;
					margin: 0 3px 3px 0;

					&:hover {
						cursor: auto;
					}

					.remove-icon:hover {
						cursor: pointer;
					}
				}

				.interest-add-btn {
					padding: 2px 6px;
					color: #333;
					margin-left: 5px;
				}
			}

			// .user-type-box {
			// 	padding: 12px;
			// 	width: max-content;
			// 	background-color: #fdebd0;
			// 	border-radius: 3px;
			// 	box-shadow: $box-shadow;

			// 	@media screen and (max-width: 425px) {
			// 		padding: 8px;
			// 	}

			// 	.type-button, .level-button {
			// 		@extend %ext-common-button;
			// 		background-color: $secondary-color;
			// 		border-color: $secondary-color;
			// 		padding: 0 7px;
			// 	}
			// }
		}

		&-right {
			// @extend %common-paper;
			width: 63%;

			a:hover {
				color: $link-hover-color;
			}

			.columns-container {
				display: flex;
				padding: 10px 20px 15px;

				.fandoms-column {
					width: 50%;
				}

				.friends-column {
					width: 50%;
				}

				.fandoms-column-header, .friends-column-header {
					font-size: 20px;
					font-weight: bold;
					margin-bottom: 10px;
				}
			}
		}
	}
}
