@import 'src/styles.scss';

.page-container {
	padding: 10%;
	padding-bottom: 0;
	height: 87vh;
	font-family: $base-font-family;
	text-align: center;
	color: $primary-color;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media screen and (max-width: 768px) {
		padding: 15% 3%;
	}
}

