<div class="page-container">
	<div class="page-content-container">
		<form [formGroup]='form'>
			<div class='header'>Sign up</div>

			<input class="form-control username" placeholder="Username (usernames cannot be changed)" formControlName='username' #username>

			<input class="form-control email" type="email" placeholder="Email (example@mail.com)" formControlName='email' #email>

			<input class="form-control password" type="password" placeholder="Password" formControlName='password' #password>
			<div class="text-muted">At least 6 characters</div>

			<div class='err-message' *ngIf="message != ''">{{message}}</div>

			<button class='sign-up-button' mdbBtn color="info" block="true" type="submit" [disabled]="!form.valid" (click)="addUser(username.value, email.value, password.value)">
				Sign up
			</button>
			<div #check></div>
			<hr>
		</form>
	</div>
</div>
